@import "variables";

.capital-info {
  width: 320px;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  background-color: $pozi-white;
}

.capital,
.country {
  font-family: $font-family;
  color: $pozi-black;
  font-size: 18px;
  line-height: normal;
}

.capital {
  font-weight: $font-weight-bold;
}

.country {
  font-weight: $font-weight-normal;
}

.flag-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 10px;
}
