@import "variables";

:host {
  display: flex;
}
.material-symbols-outlined {
  background: none;
  background-color: transparent;

  &.white {
    color: $white;
  }

  &.green {
    color: $green;
  }

  &.black {
    color: $black;
  }
}
