@import "variables";

$spacing: 20px;

.weather-container {
  width: 360px;
  border-radius: 20px;
  padding: $spacing;
  position: relative;
  display: flex;
  flex-direction: column;

  .title,
  .subtitle,
  .description {
    font-family: $font-family;
    color: $white;
    line-height: normal;
  }

  .title {
    font-size: 60px;
    font-weight: $font-weight-bold;
  }

  .subtitle {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: $font-weight-bold;
  }

  .description {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: $font-weight-normal;
  }

  .icon-container {
    display: flex;
    position: absolute;
    right: $spacing;
    top: $spacing;
  }
}
