<div
  class="weather-container"
  *ngIf="country?.weather as weather"
  [ngClass]="'icon-' + weather.icon"
>
  <span class="title">{{ weather.temp | celsius }}</span>
  <span class="subtitle">{{ weather.description }}</span>
  <span class="description"
    >Min {{ weather.temp_min | celsius }} Max
    {{ weather.temp_max | celsius }}
  </span>
  <span class="icon-container">
    <app-icon
      [type]="weather.icon"
      [color]="iconColor"
      [fontSize]="iconSize"
    ></app-icon>
  </span>
</div>
