@import "variables";

.map-container {
  position: relative;
  height: 100vh;

  .weather-container,
  .location-container {
    position: absolute;
    top: 30%;
    display: flex;
    z-index: 2;
    gap: 8px;
  }

  .weather-container {
    right: 15%;
    flex-direction: column;
  }

  .location-container {
    left: 20%;
  }
}
