$pozi-dark-grey: #8ca0b4;
$pozi-light-grey: #e8eef4;
$pozi-yellow: #f0c800;
$pozi-blue: #14b4f0;
$pozi-black: #2c343c;
$pozi-white: #fefefe;
$pozi-green: #8cc814;
$pozi-blue-linear: linear-gradient(91.2deg, #28c8f0 0%, #14b4f0 100%);

$font-family: "Fredoka", sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 500;
